#canvas_container {
    border: 1px solid black;
    display: inline-block;
}

.inner {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.settings {
  display: inline-block;
  text-align: center;
}

input.bc {
  width: 40px;
}